@media (prefers-color-scheme: dark) {
    :root {
        --colors-grey-800: #ececec;
        --colors-grey-700: #e0e0e0;
        --colors-grey-600: #c2c2c2;
        --colors-grey-500: #a3a3a3;
        --colors-grey-400: #858585;
        --colors-grey-300: #666666;
        --colors-grey-200: #474747;
        --colors-grey-100: #404040;

        --colors-blue-400: #cbecf6;
        --colors-blue-300: #74bfd4;
        --colors-blue-200: #39a7c7;
        --colors-blue-100: #1d809d;


        --colors-error: #DC493A;
        --colors-info: var(--colors-blue-300);
        --colors-success: #6D9C6D;
        --colors-link: #3695c3;
    }
}
