@media (prefers-color-scheme: light) {
    :root {
        --colors-grey-100: #fff;
        --colors-grey-200: #f2f2f2;
        --colors-grey-300: #d7d7d7;
        --colors-grey-400: #a3a3a3;
        --colors-grey-500: #858585;
        --colors-grey-600: #666666;
        --colors-grey-700: #474747;
        --colors-grey-800: #404040;

        --colors-blue-100: #C5E3FB;
        --colors-blue-200: #8DC7F7;
        --colors-blue-300: #40A2F2;
        --colors-blue-400: #0F7AD2;


        --colors-error: #DC493A;
        --colors-info: var(--colors-blue-300);
        --colors-success: #6D9C6D;
        --colors-link: #3695c3;
    }
}
