.markdown-body h2, .markdown-body h1 {
    padding-bottom: var(--gap-100);
    border-bottom: 1px solid var(--colors-grey-200);
}

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
    margin-top: var(--gap-300);
    margin-bottom: var(--gap-200);

}

.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre, .markdown-body details {
    margin-top: 0;
    margin-bottom: var(--gap-200);
}

img {
    width: 100%;
    height: auto;
}
